/* Heading/XL (2.25rem - 3.5rem) */
.rs-heading-xl {
  font-size: clamp(2.25rem, 4vw + 1.25rem, 3.5rem);
  font-weight: 600;
  line-height: clamp(2.75rem, 4.5vw + 1.75rem, 4.0rem);
  letter-spacing: 0.792px;
}

/* Heading/L (1.75rem - 2.75rem) */
.rs-heading-l {
  font-size: clamp(1.75rem, 3vw + 1rem, 2.75rem);
  font-weight: 600;
  line-height: clamp(2.25rem, 3.5vw + 1.5rem, 3.25rem);
  letter-spacing: 0.588px;
}

/* Heading/M (1.5rem - 2.25rem) */
.rs-heading-m {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
  font-weight: 600;
  line-height: clamp(2.125rem, 2.5vw + 1.5rem, 3.0rem);
  letter-spacing: 0.456px;
}

/* Heading/S (1.25rem - 1.75rem) */
.rs-heading-s {
  font-size: clamp(1.25rem, 1.5vw + 0.9rem, 1.75rem);
  font-weight: 600;
  line-height: clamp(1.75rem, 2vw + 1.25rem, 2.25rem);
  letter-spacing: 0.34px;
}

/* Heading/XS (1rem - 1.5rem) */
.rs-heading-xs {
  font-size: clamp(1rem, 1vw + 0.8rem, 1.5rem);
  font-weight: 600;
  line-height: clamp(1.375rem, 1.5vw + 1rem, 1.875rem);
  letter-spacing: 0.176px;
}

/* XL */
.rs-xl-regular,
.rs-xl-medium,
.rs-xl-semibold {
  font-size: clamp(1.25rem, 0.5vw + 1.1rem, 1.5rem);
  line-height: clamp(1.75rem, 0.5vw + 1.5rem, 2.0rem);
  letter-spacing: 0.34px;
}

.rs-xl-regular {
  font-weight: 400;
}

.rs-xl-medium {
  font-weight: 500;
}

.rs-xl-semibold {
  font-weight: 600;
}

/* L */
.rs-l-regular,
.rs-l-medium,
.rs-l-semibold {
  font-size: clamp(1rem, 0.4vw + 0.9rem, 1.25rem) !important;
  line-height: clamp(1.5rem, 0.4vw + 1.4rem, 1.75rem) !important;
  letter-spacing: 0.176px !important;
}

.rs-l-regular {
  font-weight: 400;
}

.rs-l-medium {
  font-weight: 500;
}

.rs-l-semibold {
  font-weight: 600 !important;
}

/* M */
.rs-m-regular,
.rs-m-medium,
.rs-m-semibold {
  font-size: clamp(0.875rem, 0.2vw + 0.8rem, 1rem) !important;
  line-height: clamp(1.25rem, 0.3vw + 1.1rem, 1.5rem) !important;
  letter-spacing: 0.084px !important;
}

.rs-m-regular {
  font-weight: 400 !important;
}

.rs-m-medium {
  font-weight: 500;
}

.rs-m-semibold {
  font-weight: 600 !important;
}

/* S */
.rs-s-regular,
.rs-s-medium,
.rs-s-semibold {
  font-size: clamp(0.75rem, 0.1vw + 0.7rem, 0.875rem);
  line-height: clamp(1.125rem, 0.2vw + 1rem, 1.25rem);
}

.rs-s-regular {
  font-weight: 400;
}

.rs-s-medium {
  font-weight: 500;
}

.rs-s-semibold {
  font-weight: 600;
}